h1 {
	  font-family: 'Marck Script', sans-serif;
	  color: red;
	  font-weight: bold;
	  font-size: 250%;
}
p {
	  font-family: 'Open Sans Condensed', sans-serif;
	  color: #696969;
	  font-weight: normal;
	  font-size: 150%;
}
