.wrapper {
  width: 90%;
  margin: 0 0 0 210px;
}

#checkbox_id {
  display: none;
}

.logo,
.menu {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.text {
  font: normal 24px/31.8px pt_serifbold, arial, helvetica, sans-serif;
}

.logo {
  position: relative;
  left: 0;
  padding: 32px 764px 33px 44.7px;
  font: normal 24px/31.8px pt_serifbold, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  position: absolute;
  left: 9px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  top: 46px;
  left: 1px;
}

.menu {
  display: flex;
  align-items: center;
  font: normal 14px/16.41px roboto, arial, helvetica, sans-serif;
  padding-top: 4px;
}

.menu__item {
  text-decoration: none;
  position: relative;
  transition: opacity 0.5s;
  color: #000;
  margin-right: 27px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #0056ec;
}

.menu__item:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.main {
  padding: 85px 60% 241px 187px;
  background: no-repeat top right url(img/mainimg.svg);
  background-position: 83.3% 10%;
}

.main__title {
  margin: 0 0 36px 0;
  font: bold 66px/87px pt_serifbold, arial, helvetica, serif;
}

.main__subtitle {
  margin: 0 0 40px 0;
  font: normal 18px/21.09px roboto, arial, helvetica, serif;
  width: 78%;
}

.main__title-text_hihglight {
  background: #ecf3ff;
}

.main__button {
  display: inline-block;
  font: 18px/21px roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 14px 29px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.5s;
}

.main__button:hover {
  opacity: 0.5;
}

@media (max-width: 1367px) {
  .wrapper {
    width: 100vw;
    margin: 0 0px 0 122px;
    padding: 0px 0px 0px 88px;
  }

  .logo {
    left: 0px;
    padding: 32px 0px 33px 45.7px;
    font: normal 21px/31.8px pt_serifbold, arial, helvetica, sans-serif;
  }

  .logo__circle_color_dark-blue {
    top: 46px;
    left: 1px;
  }

  .logo__circle_color_blue {
    left: 9px;
    top: 54%;
  }

  .menu {
    font: normal 14px/17px roboto, arial, helvetica, sans-serif;
    padding: 6px 23px 0px 0px;
  }

  .menu__item {
    margin-right: 26px;
  }

  .menu__item_active::after {
    height: 2px;
  }

  .header {
    margin-bottom: 6px;
  }

  .main {
    padding: 100px 50% 130px 210px;
    background: no-repeat top right url(img/frame1366.svg);
    background-position: 75% 54%;
  }

  .main__title {
    margin: 0 0 38px 0;
    font: bold 50px/66.25px pt_serifbold, arial, helvetica, serif;
  }

  .main__subtitle {
    margin: 0 0 42px 0;
    font: normal 18px/21.09px roboto, arial, helvetica, serif;
    width: 78%;
  }

  .main__button {
    font: 14px/16.41px roboto, arial, helvetica, sans-serif;
    padding: 14px 17px;
  }

}

@media (max-width: 1025px) {
  .wrapper {
    margin: 0 0 0 37px;
    width: 95%;
  }

  .header {
    margin-bottom: 0px;
  }

  .logo {
    padding: 31px 402px 39px 44.7px;
    left: 0px;
  }

  .logo__circle_color_blue {
    top: 54%;
  }

  .menu {
    font: normal 14px/17.41px roboto, arial, helvetica, sans-serif;
    padding-top: 0px;
  }

  .menu__item {
    margin-right: 26px;
  }

  .menu__item_active::after {
    height: 2px;
  }

  .main {
    padding: 100px 50% 132px 38px;
    background-position: 92.2% 54%;
  }

  .main__button {
    padding: 14px 16px;
  }
  
}

@media (max-width: 768px) {
  .wrapper {
    background-position: center;
    margin: 0;
    width: 100%;
  }

  .header {
    margin-bottom: 0px;
  }

  .logo {
    padding: 25px 0;
  }

  .logo__circle_color_blue {
    left: 24px;
    top: 46%;
  }

  .logo__circle_color_dark-blue {
    left: 16px;
    top: 30px;
  }

  .text {
    visibility: hidden;
  }

  .menu {
    display: none;
  }

  .menu__burger {
  position: relative;
  width: 25px;
  height: 17px;
  cursor: pointer;
  top:24px;
  right:16px;
  z-index: 10;
  }

  .burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #0056EC;
    top: 7px;
  }

  .menu__burger::before,
  .menu__burger::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #0056EC;
    position: absolute;
    transition: transform .4s;
  }

  .menu__burger::before {
    top: 0;
  }

  .menu__burger::after {
    bottom: 0;
  }

  #checkbox_id:checked ~ .menu {
    display: flex;
    height: 100vh;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    position: absolute;
    background: #fff;
  }

/* анимация бургера */

/* скрываем линию посередине */
  #checkbox_id:checked ~ label > .menu__burger > .burger__line {
    display: none;
  }

/* поворачиваем верхнию линию */
  #checkbox_id:checked ~ label > .menu__burger::before {
    top: 7px;
    transform: rotate(45deg);
  }

/* поворачиваем нижнию линию */
  #checkbox_id:checked ~ label > .menu__burger::after {
    top: 7px;
    transform: rotate(-45deg);
  }

  .main {
    position: absolute;
    text-align: center;
    padding: 69% 0px 0px;
    background-size: 77%;
    background-position: top center;
    z-index: 1;
    margin: 0px 10px 0px 0px;
  }

  .main__title {
    margin-bottom: 33px;
    margin-left: 7px;
    font: 30px/39px pt_serifbold, arial, helvetica, serif;
  }

  .main__subtitle {
    margin-bottom: 25px;
    font: 16px/19px roboto, arial, helvetica, sans-serif;
    width: 70%;
    margin-left: 57px;
  }

  .main__button {
    font: 14px/16px roboto, arial, helvetica, sans-serif;
    padding-left: 24px;
  }

  .menu__item {
    display: block;
    padding: 17px 24px;
    color: #333;
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
  }

  #checkbox_id:checked ~ .menu {
    padding: 147px 0px 0px 0px;
  }

  #checkbox_id:checked ~ .menu > .menu__item {
    padding: 0px 19px 0px 0;
    margin: 37px 0 0 0;
  }

  #checkbox_id:checked ~ .menu > .menu__item::after {
    display: none;
  }

  .menu__item:hover {
    background-color: #cfd8dc;
  }

}
